# General
*.log

# vim data files
vim/.vim/.netrwhist
vim/.vim/undodir/
vim/.vim/view/
vim/.vim/NERDTreeBookmarks
vim/.vim/vim-plug/
vim/.viminfo

# nvim data files
nvim/.config/nvim/.netrwhist

# mpd
mpd/.config/mpd/playlists/

# gtk
gtk/.config/gtk-3.0/assets/
gtk/.config/gtk-3.0/bookmarks

# zsh
.zcompdump
